html{
	--primary-a:#AB47BC;
	--primary-b:#8E24AA;
	--secondary-a:#4e03da;
	--secondary-b:#7b5bee;
	--background:rgb(235, 233, 233);
	--error:#b00020;

/*** Foreground colour***/
	--on-primary:#e7e2f7;
	--on-secondary:#f5e2e2;
	--on-background:#222222;
	--on-error:#9c48eb;
}

body{
  background-color:var(--background);
  font-family: helvetica;
}



h1{
  font-size: 2em;
  padding: .5em;
}


h2{
  font-size: 1.7em;
  padding:.5em;
}

h3{
  font-size: 1.4em;
  margin-bottom: 1em;
  margin-top:.5em;
  
}

legend{
  font-size: 1.5em;
  padding: .5em;
}

li{
  display: inline;
}

footer{
  display: inline;
}

ul{
  margin: 0;
}

fieldset{
  background-color: var(--secondary-b);
  color: var(--on-primary);
  border-radius: 1em;
  padding: .5em;
  box-shadow: .5em .5em black;
  margin: 1em
}

option{
  color: var(--on-primary);
}

.pad{
  padding: 1.5em;
}
.searchBar{
  display: inline;
}

.favAndShopping{
  display: block;
  margin-left: 95%
}

.pageNumber{
  display: inline;
  text-align: center;
  font-size: 1.2em;
}

.logo{
  max-width: 75%;
  padding: .5em;
  background-color: var(--primary-b);
  margin: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.product{
  display: inline-block;
  margin: 2.5em;
  padding: 1.5em;
  text-align: center;
  background-color: var(--primary-a);
  border-radius: 1.5em;
  font-size: 1em;
  color: var(--on-primary);
  box-shadow: .5em .5em black;
  
}

.products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr
}

.bottomFoot{
  display: inline;
  text-align: center;
  padding: .5em;
}

  .roundCorner{
    border-radius: .5em;
  }

  .padLeft{
    padding: 1em;
  }

  .padRight{
    padding: 1em;
  }

  .prodPic{
    width:20em;
  }

  .bg{
    background-color: var(--primary-a)
  }

  .block{
    display: inline;
  }

  *, *::before, *::after { box-sizing: border-box; }
body {
  margin: 0;
  font: 1em helvetica, sans-serif;
  background-color:var(--background);
  color: var(--on-background);
}

.headerbar {
  background-color: darkslateblue;
  padding: 0 1em;
  overflow: hidden;
}

.mainmenu-toggle {
  display: block;
  margin: 1em 0;
  cursor: pointer;
  margin-left: auto;
}

.navigation {
  margin: 1em 0;
}
  .navigation ul {
    list-style: none;
  }

.mainmenu {
  background-color:var(--secondary-b);
  padding: 1em;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 10em;
  height: 100%;
  transform: translateX(-10em);
  transition: transform 0.3s;
  display: grid;
  font-size: 1.5em;
}
  .mainmenu li {
    line-height: 1.5;
  }
    .mainmenu a {
      color: white;
      text-decoration: none;
    }
.mainmenu.open { /* An element with BOTH .mainmenu and .open */
  transform: translateX(0em);
}

.page {
  padding: 0 1em;
}
  
  @media only screen and (max-width: 700px) {

    .product {
      font-size: .75em
    }
    .products{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .logo{
      max-width: 100%;
    }
  }
  @media only screen and (min-width: 600px) {
    .products{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

  }